<div class="row">
    <div class="col-md-6 form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="nomeInput" #curso>
    </div>
    <div class="col-md-6 form-group mb-2">
    <label for="descricao">descrição</label>
    <input type="text" class="form-control" id="nomeInput" #descricao>
    </div>
    </div>
    <div class="row">
    <button 
    class="btn btn-primary btn-block"
    type="button"
    (click)="cadastrar(curso.value,descricao.value)" 
    >Cadastrar</button>
    </div>