<div class="container p-5"></div>
    <form class="m-5">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite seu
        nome">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu
        email">
            <small class="form-text text-muted">Não enviaremos span!</small>
        </div>
        <div class="form-group">
            <label for="texto">sugestao</label>
            <input type="text" class="form-control" id="texto">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Ja e aluno
            </label>
        </div>
        <button type="submit" class="btn btn-primary">enviar</button>
    </form>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item"><a routerLink="/info">Sugestao</a></li>
            <li class="breadcrumb-item"><a routerLink="/sugestoes">Forms</a></li>
    
        </ol>
    </nav>