<table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Disciplina</th>
        <th>Currículo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Vitor Alex Oliveira Alves</td>
        <td>Cálculo I;Vetores,Curvas e Superfícies;Cálculo Diferencial e Integral II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4407192Z8</td>
      </tr>
      <tr>
        <td>Armando Zanone</td>
        <td>Cálculo I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4305091P4</td>
      </tr>
      <tr>
        <td>Jones Eduardo Egydio</td>
        <td>Cálculo I;Matemática Computacional;Estatística</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4210725Y0</td>
      </tr>
      <tr>
        <td>Marilda Eboli Assumpcao</td>
        <td>Cálculo I;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4213921P7</td>
      </tr>
      <tr>
        <td>Juliana Martins Philot</td>
        <td>Vetores,Curvas e Superfícies;Cálculo Diferencial e Integral II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4200577E9</td>
      </tr>
      <tr>
        <td>Eloiza Gomes</td>
        <td>Vetores,Curvas e Superfícies;Cálculo Diferencial e Integral II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4751144J2</td>
      </tr>
      <tr>
        <td>Nair Stem</td>
        <td>Física I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4790196Z3</td>
      </tr>
      <tr>
        <td>Keiti Pereira Vidal de Souza</td>
        <td>Fundamentos de Engenharia;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4474981Z3</td>
      </tr>
      <tr>
        <td>Luis Coelho dos Santos</td>
        <td>Física I;Física II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4789846P7</td>
      </tr>
      <tr>
        <td>Octavio Mattasoglio Neto</td>
        <td>Física I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4786613H3</td>
      </tr>
      <tr>
        <td>Paulo Alexandre Martin</td>
        <td>Física I;Física II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4268836U6</td>
      </tr>
      <tr>
        <td>Roberto Bertoldo Menezes</td>
        <td>Física I;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4426365Y2</td>
      </tr>
      <tr>
        <td>Rodrigo Cutri</td>
        <td>Física I;Projetos e Atividades Especiais I;Física II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4759182D0</td>
      </tr>
      <tr>
        <td>Roberto Scalco</td>
        <td>Desenho;Algoritmos e Programação;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4712307T6</td>
      </tr>
      <tr>
        <td>Erika Mendonça Britto Passos</td>
        <td>Desenho;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4773831U0</td>
      </tr>
      <tr>
        <td>Guilherme Wolf Lebrao</td>
        <td>Desenho</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4770805Y3</td>
      </tr>
      <tr>
        <td>Igor Zucato</td>
        <td>Desenho</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4770805Y3</td>
      </tr>
      <tr>
        <td>Marco Antonio Stipkovic</td>
        <td>Desenho</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4470185H5</td>
      </tr>
      <tr>
        <td>Anderson Harayashiki Moreira</td>
        <td>Algoritmos e Programação;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4258473A7</td>
      </tr>
      <tr>
        <td>Alexandre Harayashiki Moreira</td>
        <td>Algoritmos e Programação;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8149763Y5</td>
      </tr>
      <tr>
        <td>Lincoln Cesar Zamboni</td>
        <td>Algoritmos e Programação;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4711304P8</td>
      </tr>
      <tr>
        <td>Murilo Zanini de Carvalho</td>
        <td>Algoritmos e Programação;Projetos e Atividades Especiais I;Estrutura de Dados e Técnicas de
          Programação;Projetos e Atividades Especiais II;Linguagens de Programação I;Projetos e Atividades Especiais
          III;Microcontroladores e Sistemas Embarcados;Projetos e Atividades Especiais IV</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4296212U6</td>
      </tr>
      <tr>
        <td>Hector Alexandre Chaves Gil</td>
        <td>Química Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4785684J8</td>
      </tr>
      <tr>
        <td>Celize Maia Tcacenco</td>
        <td>Química Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4295740D6</td>
      </tr>
      <tr>
        <td>Cristiane Maria Barra da Matta</td>
        <td>Química Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4779202Z6</td>
      </tr>
      <tr>
        <td>Juliana Ribeiro Cordeiro</td>
        <td>Química Geral;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4278502D3</td>
      </tr>
      <tr>
        <td>Luis Geraldo Cardoso dos Santos</td>
        <td>Química Geral;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4723273E1</td>
      </tr>
      <tr>
        <td>Renata Borges do Nascimento</td>
        <td>Química Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4111962A2</td>
      </tr>
      <tr>
        <td>Roberta Albanez Toreta</td>
        <td>Química Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4457410H6</td>
      </tr>
      <tr>
        <td>Patricia Antonio de Menezes Freitas</td>
        <td>Fundamentos de Engenharia;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4705255P0</td>
      </tr>
      <tr>
        <td>Angelo Eduardo Battistini Marques</td>
        <td>Fundamentos de Engenharia</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.jsp?id=K4708858H5</td>
      </tr>
      <tr>
        <td>Gabriela Sa Leitao de Mello</td>
        <td>Fundamentos de Engenharia</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4779588H8</td>
      </tr>
      <tr>
        <td>Renato Romio</td>
        <td>Fundamentos de Engenharia;Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4454050H8</td>
      </tr>
      <tr>
        <td>Rodrigo Mangoni Nicola</td>
        <td>Fundamentos de Engenharia;Projetos e Atividades Especiais II;Projetos e Atividades Especiais III;Projetos e
          Atividades Especiais IV</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4347555D5</td>
      </tr>
      <tr>
        <td>Eduardo Nadaleto da Matta</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4418548U8</td>
      </tr>
      <tr>
        <td>Airton Eiras</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4787537E4</td>
      </tr>
      <tr>
        <td>Alisson Alves Sarmento</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4447742Z6</td>
      </tr>
      <tr>
        <td>Andressa Corrente Martins</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>Não Informado</td>
      </tr>
      <tr>
        <td>Angelo Eduardo Battistini Marques</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.jsp?id=K4708858H5</td>
      </tr>
      <tr>
        <td>Angelo Sebastiao Zanini</td>
        <td>Projetos e Atividades Especiais I;Fundamentos de Circuitos Digitais;Fundamentos de Circuitos
          Analógicos;Projetos e Atividades Especiais II;Arquitetura e Organização de Computadores;Projetos e Atividades
          Especiais III;Projetos e Atividades Especiais IV</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761729H6</td>
      </tr>
      <tr>
        <td>Eduardo Linzmayer</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4793450T3</td>
      </tr>
      <tr>
        <td>Elizabeth Montefusco</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4700736E2</td>
      </tr>
      <tr>
        <td>Everson Denis</td>
        <td>Projetos e Atividades Especiais I;Projetos e Atividades Especiais II;Projetos e Atividades Especiais
          III;Redes de Computadores;Projetos e Atividades Especiais IV;Segurança da Informação</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4779726H1</td>
      </tr>
      <tr>
        <td>Fabio Selleio Prado</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4447431T1</td>
      </tr>
      <tr>
        <td>Fernando Silveira Madani</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4779194J3</td>
      </tr>
      <tr>
        <td>Jose Alberto Domingues Rodrigues</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4784650H3</td>
      </tr>
      <tr>
        <td>Luciane Franquelin Gomes de Souza</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4484741J0</td>
      </tr>
      <tr>
        <td>Mirian Martins de Oliveira</td>
        <td>Projetos e Atividades Especiais I;Língua Brasileira de Sinais - Básico(optativa);Lingua Brasileira de Sinais
          - Avançado(optativa)</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4719968Y2</td>
      </tr>
      <tr>
        <td>Paula Katakura</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4793408D9</td>
      </tr>
      <tr>
        <td>Pedro Henrique Cerento de Lyra</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4177553D6</td>
      </tr>
      <tr>
        <td>Tatiana Guinoza Matuda Masaoka</td>
        <td>Projetos e Atividades Especiais I</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4769609E2</td>
      </tr>
      <tr>
        <td>Lilian de Cassia Santos Victorino</td>
        <td>Matemática Computacional</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4130521Y0</td>
      </tr>
      <tr>
        <td>Fernando Malvezzi</td>
        <td>Mecânica Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4711617Y6</td>
      </tr>
      <tr>
        <td>Demetrio Elie Baracat</td>
        <td>Mecânica Geral</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4253157T2</td>
      </tr>
      <tr>
        <td>Marcelo Porto Trevizan</td>
        <td>Fundamentos de Circuitos Digitais;Fundamentos de Circuitos Analógicos</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4256069H7</td>
      </tr>
      <tr>
        <td>Alessandra Dutra Coelho</td>
        <td>Fundamentos de Circuitos Digitais;Fundamentos de Circuitos Analógicos</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4776188T4</td>
      </tr>
      <tr>
        <td>Jose Carlos de Souza Junior</td>
        <td>Fundamentos de Circuitos Digitais;Fundamentos de Circuitos Analógicos</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4776070E6</td>
      </tr>
      <tr>
        <td>Julio Cesar Lucchi</td>
        <td>Fundamentos de Circuitos Digitais;Fundamentos de Circuitos Analógicos</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4776200E6</td>
      </tr>
      <tr>
        <td>Wânderson de Oliveira Assis</td>
        <td>Fundamentos de Circuitos Digitais;Fundamentos de Circuitos Analógicos</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4703579H2</td>
      </tr>
      <tr>
        <td>Marcelo Otavio dos Santos</td>
        <td>Resistência dos Materiais</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4970147J7</td>
      </tr>
      <tr>
        <td>Bruno Galelli Chieregatti</td>
        <td>Fenômenos de Transporte</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4269699Z2</td>
      </tr>
      <tr>
        <td>Marco Antonio Furlan de Souza</td>
        <td>Projetos e Atividades Especiais I;Sistemas Operacionais;Linguagens Formais, Autômatos e
          Compiladores;Projetos e Atividades Especiais III;Projetos e Atividades Especiais IV</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761620P2</td>
      </tr>
      <tr>
        <td>Tiago Sanches da Silva</td>
        <td>Projetos e Atividades Especiais I;Projetos e Atividades Especiais III;Microcontroladores e Sistemas
          Embarcados;Projetos e Atividades Especiais IV;Inteligência Artificial;Ciência dos Dados</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4403412J7</td>
      </tr>
      <tr>
        <td>Vanderlei Cunha Parro</td>
        <td>Sistemas de Controle;Sistemas e Sinais</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4708109T3</td>
      </tr>
      <tr>
        <td>Sergio Ribeiro Augusto</td>
        <td>Circuitos Elétricos;Sistemas Eletrônicos;Microcontroladores e Sistemas Embarcados;Inteligência
          Artificial;Trabalho de Conclusão de Curso</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4758337Z9</td>
      </tr>
      <tr>
        <td>Aparecido Valdemir de Freitas</td>
        <td>Tópicos Avançados em Estruturas de Dados;Banco de Dados</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4709911P1</td>
      </tr>
      <tr>
        <td>Thiago Antonio Grandi de Tolosa</td>
        <td>Estatística</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4779548Y6</td>
      </tr>
      <tr>
        <td>Daniel Kashiwamura Scheffer</td>
        <td>Estatística</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4279958J5</td>
      </tr>
      <tr>
        <td>Ana Paula Gonçalves Serra</td>
        <td>Engenharia de Software</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4734311A9</td>
      </tr>
      <tr>
        <td>Rodrigo Bossini Tavares Moreira</td>
        <td>Linguagens de Programação II</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4414480T3</td>
      </tr>
      <tr>
        <td>Afonso Carlos Braga</td>
        <td>Empreendedorismo e Gestão</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4320840U8</td>
      </tr>
      <tr>
        <td>Carlos Augusto Nakano</td>
        <td>Empreendedorismo e Gestão</td>
        <td>Não Informado</td>
      </tr>
      <tr>
        <td>Geraldo Prado Guimarães Filho</td>
        <td>Empreendedorismo e Gestão</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8756304T3</td>
      </tr>
      <tr>
        <td>Marcos Aurelio Martão</td>
        <td>Empreendedorismo e Gestão</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4233664T9</td>
      </tr>
      <tr>
        <td>Reynaldo Dannecker Cunha</td>
        <td>Empreendedorismo e Gestão</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4455986U9</td>
      </tr>
      <tr>
        <td>Eduardo Victor dos Santos Pouzada</td>
        <td>Trabalho de Conclusão de Curso</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4708297A1</td>
      </tr>
      <tr>
        <td>Ana Carolina Russo</td>
        <td>Higiene e Segurança do Trabalho</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4282396J8</td>
      </tr>
      <tr>
        <td>Ricardo Balistiero</td>
        <td>Economia</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4713365E0</td>
      </tr>
      <tr>
        <td>Volney Aparecido de Gouveia</td>
        <td>Economia</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4131518D6</td>
      </tr>
      <tr>
        <td>Marco Antonio Frabetti</td>
        <td>Direito Empresarial</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4758197H2</td>
      </tr>
      <tr>
        <td>Ricardo Fernandes</td>
        <td>Direito Empresarial</td>
        <td>http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4387174E7</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Info</li>
      <li class="breadcrumb-item"><a href="index.html">home</a></li>
      <li class="breadcrumb-item"><a href="sugestao.html">Forms</a></li>

    </ol>
  </nav>