<main>
    <div class="card-columns bg-dark p-5">
        <div class="card">
            <img src="../assets/administracao-14102942.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Administracao</h5>
                <p class="card-text">Se você pensa em ser um administrador de empresas, quer fundar sua própria
                    empresa e ser um empreendedor, ou mesmo liderar equipes de ponta em uma grande corporação, o
                    começo da sua trajetória passa pela Mauá.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/design-14102950.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Design</h5>
                <p class="card-text">O curso de Design da Mauá, oferecido desde 2007, possui nota máxima no MEC, tem
                    conquistado seu espaço no mundo acadêmico e já deixa sua marca de qualidade no mercado</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-alimentos-14103003.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia de Alimentos</h5>
                <p class="card-text">Quer um curso de Engenharia de Alimentos que te ensina o conteúdo na prática
                    durante toda a graduação? A Mauá oferece a melhor infraestrutura para você.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-civil-14103012.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Civil</h5>
                <p class="card-text">Quer fazer diferença no mercado e na sociedade sendo formado em Engenharia
                    Civil? Conheça o curso da Mauá!</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-computacao-14103023.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Computacao</h5>
                <p class="card-text">A Engenharia de Computação está presente em nosso dia a dia e nas mais diversas
                    áreas: Educação, Indústrias, Redes de Comunicação e Dispositivos Móveis, Transportes,
                    Entreterimento, entre outras. Essa diversidade de aplicações para o Engenheiro de Computação
                    qualifica-o para atuar como desenvolvedor, engenheiro, empreendedor, executivo de grandes
                    corporações.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-controle-automacao-14103035.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia de Controle e Automacao</h5>
                <p class="card-text">Você está procurando uma graduação em Engenharia de Controle e Automação que o
                    destaque no mercado de trabalho. Conheça o curso oferecido pela Mauá!</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-eletrica-14103052.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Eletrica</h5>
                <p class="card-text">A Engenharia Elétrica está no nosso cotidiano, presente nas diversas áreas
                    industriais, em Sistemas de Transporte, na Automação de instalações elétricas prediais e
                    comerciais, entre outras</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-eletronica-14103106.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Eletronica</h5>
                <p class="card-text">A Engenharia Eletrônica está em nosso cotidiano, presente nas mais diversas
                    áreas: Comunicação, Transporte, Sistemas Computadorizados, Controle de Processos,
                    Entretenimento, Segurança, Automação Predial e Industrial, Indústria de Eletrodomésticos e
                    Equipamentos Médicos, entre muitas outras.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-mecanica-18154700.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Mecanica</h5>
                <p class="card-text">A graduação em Engenharia Mecânica é uma das mais abrangentes modalidades da
                    Engenharia. Ela trata de tudo o que se move, de brinquedos a fábricas (com tudo o que está
                    dentro), passando por eletrodomésticos, embarcações, veículos etc. Além disso, ela trata de
                    instalações de conversão de energia como hidroelétricas e termoelétricas, instalações de
                    ar-condicionado, de geração de vapor e frigoríficas.</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-producao-18154849.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia de Producao</h5>
                <p class="card-text">Infraestrutura de ponta, profissionais reconhecidos num curso bem-conceituado.
                    Essa é a graduação em Engenharia de Produção da Mauá, ideal para um futuro de sucesso!</p>
            </div>
        </div>
        <div class="card">
            <img src="../assets/engenharia-quimica-14103146.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Engenharia Quimica</h5>
                <p class="card-text">Está buscando onde cursar Engenharia Química? Conheça mais sobre o Curso na
                    Mauá</p>
            </div>
        </div>
    </div>


</main>
<div class="container-fluid p-0 ">
    <div class="row text-left">
        <div class="col-md-5 col-md-5">
            <h1 class="text-light">Sobre nos</h1>
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugit iusto necessitatibus ex
                atque ipsa enim excepturi impedit? Debitis mollitia dicta labore reprehenderit perspiciatis
                inventore distinctio iusto maiores soluta pariatur.
            </p>
            <p class="pt4 text-muted"> MIT
                <span>#CHUPAFEI</span>
            </p>
        </div>
        <div class="col-md-5">
            <h4 class="text-light">
                Newsletter
            </h4>
            <p class="text-muted">
                Stay Update
            </p>
            <form class="form-inline">
                <div class="col pl-">
                    <div class="input-group pr-5">
                        <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-sm-12">
            <h4 class="text-light">Follow Us</h4>
            <p class="text-muted">Let us be social</p>
            <div class="column ">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>

            </div>

        </div>

    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item"><a routerLink="/info">Sugestao</a></li>
        <li class="breadcrumb-item"><a routerLink="/sugestoes">Forms</a></li>

    </ol>
</nav>