<main>
<app-lista [cursos]="cursos"></app-lista>
<app-lista-input (cursoCadastrado)="onCursoCadastrado($event)"></app-lista-input>
</main>
<div class="container-fluid p-0 ">
    <div class="row text-left">
        <div class="col-md-5 col-md-5">
            <h1 class="text-light">Sobre nos</h1>
            <p class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur fugit iusto necessitatibus ex
                atque ipsa enim excepturi impedit? Debitis mollitia dicta labore reprehenderit perspiciatis
                inventore distinctio iusto maiores soluta pariatur.
            </p>
            <p class="pt4 text-muted"> MIT
                <span>#CHUPAFEI</span>
            </p>
        </div>
        <div class="col-md-5">
            <h4 class="text-light">
                Newsletter
            </h4>
            <p class="text-muted">
                Stay Update
            </p>
            <form class="form-inline">
                <div class="col pl-">
                    <div class="input-group pr-5">
                        <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 col-sm-12">
            <h4 class="text-light">Follow Us</h4>
            <p class="text-muted">Let us be social</p>
            <div class="column ">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>

            </div>

        </div>

    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item"><a routerLink="/info">Sugestao</a></li>
        <li class="breadcrumb-item"><a routerLink="/sugestoes">Forms</a></li>

    </ol>
</nav>
